@model ScoreViewModel
@section Scripts {
	<script src="~/js/rater.js"></script>
	<script src="~/js/starRating.js"></script>
}
<link href="~/css/Rating.css" rel="stylesheet" />

<div class="row border bg-light rounded p-1 mb-2">
	<div class="col-md-3">
		<img src="~/img/@Model.tour.Zdjecie" class="img-fluid img-rounded" />
	</div>
	<div class="col-md-7">
		<div>@Model.tour.Name</div>
		<ul>
			<li>Termin: @Model.tour.TerminOd.Date.ToString("dd-MM-yyyy") - @Model.tour.TerminDo.Date.ToString("dd-MM-yyyy")</li>
			<li>@Model.tour.SamolotFirma: @Model.tour.SamolotCena.ToString("F2") zł</li>
			<li><a href=@Model.tour.Hotel target="_blank">Hotel: </a>@Model.tour.HotelCena.ToString("F2") zł</li>
			<li>Organizator: @Model.tour.Organizator</li>
		</ul>
		<div>@Html.Raw(Model.tour.Opis.Replace(Environment.NewLine, "<br/>"))</div>
		
	</div>
	<div class="col-md-2">
		<div class="price-summary">Cena: @((Model.tour.HotelCena + Model.tour.SamolotCena).ToString("F2"))zł</div>
		<div>Średnia: @Model.ScoreAvg.ToString("F0")	Suma: @Model.ScoreTotal.ToString("F0")</div>
		<form method="post">
			<div class="container">
				<div class="rate"></div>
				<input hidden="hidden" name="tourId" value="@Model.tour.Id" />
				<input id="star-score" readonly="readonly" name="score" hidden="hidden" />
			</div>
			<div>
				<input id="btn-score" class="btn btn-primary" type="submit" value="Ocen" />
			</div>
		</form>
	</div>
</div>